<div class="card card-block note">
  <h4 class="card-title"><%= note.title %></h4>
  <p class="card-text"><%= note.body %></p>
   <%= link_to "Edit", edit_note_path(note), class: "card-link" %>
</div>
