  <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">

<nav class="navbar navbar-full navbar-light bg-faded">
  <a class="navbar-brand" href="#">Fridge Door</a>
</nav>
