
<nav class="navbar navbar-full navbar-dark bg-primary">
  <h1 class="navbar-brand" href="#">Fridge Door</h1>
  <ul class="nav navbar-nav">
    <ul class="nav navbar-nav">
      <%= nav_link_to("Notes", notes_path) %>
      <%= nav_link_to("ToDos", todos_path) %>

   <li class="nav-item pull-sm-right">
    <%= link_to "Sign out", "#", class: "nav-link" %>
    </li>
   </ul>
</nav>
